APP_ENV=development
PORT=8080

DATABASE_URL="host=your-supabase-pooler-host user=your-db-user password=your-db-password dbname=postgres port=5432 sslmode=require TimeZone=Asia/Colombo"

JWT_SECRET=your_jwt_secret_here
ACCESS_TOKEN_EXPIRES_MINUTES=60